
// All colors

$primary-color-: #fff;
$secondary-color-: #333;
$main-bg: #9d9d9d;
$blue-color: #1fb6ff;
$purpl-color: #7e5bef;
$pin-color: #ff49db;
$orang-color: #ff7849;
$gree-color: #13ce66;
$yello-color: #ffc82c;
$gray-dar-color: #273444;
$gra-color: #8492a6;
$gray-ligh-color: #d3dce6;

html {
  --v-color: red;
}
